html{
	box-sizing: border-box;
}
*, *::after, *::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html,
body{
	height: 100%;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.section-title{
	margin-bottom: 50px;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
	/*background-color: rgb(163, 172, 172);*/
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

body{
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

.header{
	background-color: rgb(66, 112, 172);
}

.header-main{
	background-color: transparent;
	position: absolute;
	z-index: 6;
	left: 0;
	right: 0;
}

.header__inner{
	padding-top: 40px;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


.menu__list{
	display: flex;
	gap: 35px;
}

.menu__list-link{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.menu__list-link--active{
	color: rgba(14, 6, 235, 0.6);
}

.footer{
	background-color: rgb(66, 112, 172);
	padding: 50px 0px 50px;
	color: #fff;

}

.footer__menu{
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.footer__menu-list{
	max-width: 300px;
	text-align: center;
}

.footer__menu-title{
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item{
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer__copy{
	min-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

.main{
	flex-grow: 1;
}

.top{
	color: #fff;
	text-align: center;
	padding-top: 105px;
	padding-bottom: 50px;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
}

.title{
	padding-bottom: 40px;
	font-size: 72px;
	font-weight: 700;
}

.top__link{
	background-color: rgb(14, 6, 235, 0.3);
	border-radius: 5px;
	padding: 3px;
	max-width: 390px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	width: 100%;

}

.swiper-wrapper{
	background-color: rgba(14, 6, 235, .3);
}

.swiper-slide{
	background-repeat: no-repeat;
	block-size: cover;
	background-position: center;
	height: 100vh;
}

.swiper-pagination-bullet {
 width: 120px;
 height: 3px;
 background-color: rgb(66, 112, 172);
 border-radius: 0;
 opacity: 1;
 margin: 0 15px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
	bottom: 50px;
}

.swiper-pagination-bullet-active {
 height: 6px;
 background-color: #fff;
}

.about{
	padding: 50px 0;
}

.about__list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;
	text-align: center;
}

.about__item-img{
	margin-bottom: 30px;
}

.about__item-title{
margin-bottom: 30px;
font-size: 24px;
font-weight: 700;
color: rgb(66, 112, 172);
}

.about__item-text{
	text-align: left;
}

.own-hands{
	padding-top: 50px;
	padding-bottom: 150px;
}

.own-hands__inner{
 max-width: 600px;
 margin: 0 auto;
}

.own-hands__inner-img{
	margin: 0 auto;
	padding-bottom: 50px;
	display: block;
	width: 100%;
}

.own__hands-title{
	font-size: 24px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 10px;
}

.own__hands-list{
	padding: 50px 0 70px;
	counter-reset: myCounter;
}

.own__hands-item{
	list-style-type: none;
	width: 390px;
	position: relative;
	margin-left: auto;
	box-sizing: content-box;
	padding: 19px 0 19px 150px;
	min-height: 63px;
}
.own__hands-link{
	text-shadow: rgb(66, 112, 172) 1px 0 10px;
}

.own__hands-item + .own__hands-item{
	margin-top: 40px;
}

.own__hands-item::before{
	counter-increment: myCounter;
	content: counter(myCounter);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(66, 112, 172);
	font-size: 48px;
	font-weight: 700;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}

.contacts{
	padding: 100px 0 150px;
}

.contacts__title{
	margin-bottom: 20px;
}

.contacts__text{
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 50px;
	padding: 0 100px;
}

.menu__btn{
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	display: none;
}

.menu__btn span{
	height: 2px;
	background-color: #fff;
	width: 100%;
}

@media (max-width: 580px){
	.menu__btn{
		display: flex;
	}
	.menu__btn,
	.logo{
		position: relative;
		z-index: 10;
	}
	.menu__list{
		position: absolute;
		z-index: 5;
		background-color: rgb(66, 112, 172);
		flex-direction: column;
		align-items: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 200px;
		height: 100vh;
		transform: translateY(-100%);
	}
	.menu__list.menu__list--active{
		transform: translateY(0%);
	}
	.about__list{
		grid-template-columns: repeat(1, 1fr);
	}
	.footer__copy{
		min-width: 300px;
	}
	.own__hands-item{
		width: 200px;
	}
}