
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	padding: 5px;
	background-image: linear-gradient(to bottom, #82c3ee, #1179db 70%, #82c3ee);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		
}


.header {
	display: flex;
	justify-content: space-around;
	max-width: 1080px;
	background: linear-gradient(to right,#e6e6e6, #82c3ee);
	height: 180px;
	position: sticky;
	top:0px;
	margin: 0px auto;
	margin-bottom: 3px;
	border-radius: 5px;
	padding: 0px;
	line-height: 25px;
	
}
.header_item1{
	text-align: center;
	padding: 10px 20px;
}
.header_item2 {
	padding: 3px 0px;
}
.header_pic {
	height: 174px;
}

.f700 {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: red;
}
.f600 {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 20px;
	word-spacing: 0px;
	color: rgb(5, 5, 5);
}
.f500 {
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	word-spacing: 0px;
	color: rgb(5, 5, 5);
}



.card {
	max-width: 1080px;
	margin: 0px auto;
	padding: 15px 20px;
	/*border: 2mm ridge #f5f5f5;*/
	border-radius: 5px;
	background: #f5f5f5;
	margin-bottom: 3px;
	line-height: 20px;

}
.color {
	color: red;
}
.footer {
	display: flex;
	max-width: 1080px;
	background: #e6e6e6;
	height: 120px;
	margin: 0px auto;
	margin-top: 0px;
	padding: 15px;
	border-radius: 5px;	
	
}
.footer_item {
	max-width: 100%;
	padding-top: 0px;
	text-align: center;
	/*padding-left: 12%;*/
	/*justify-content: center;*/
	
}
