<footer class="footer">
    <div class="container">
        <nav class="footer__menu">
            <ul class="footer__menu-list">
                <li class="footer__menu-item"><p class="footer__menu-title">Выезд по северу МО</p></li>

                <li class="footer__menu-item">
                    <a href="{{ '/dmitrov/' | relative_url }}" class="footer__menu-link">Дмитровский район</a>
                </li>

                <li class="footer__menu-item">
                    <a href="{{ '/taldom/' | relative_url }}" class="footer__menu-link">Талдомский район</a>
                </li>

                <li class="footer__menu-item">
                    <a href="{{ '/dubna/' | relative_url }}" class="footer__menu-link">Дубна</a>
                </li>
            </ul>
            <ul class="footer__menu-list">
                <li class="footer__menu-item"><p class="footer__menu-title">Настройка и ремонт</p></li>
                <li class="footer__menu-item"><a href="{{ '/' | relative_url }}" class="footer__menu-link">Спутниковых тв антенн</a></li>
                <li class="footer__menu-item"><a href="{{ '/' | relative_url }}" class="footer__menu-link">Наземных тв антенн</a></li>
                <li class="footer__menu-item"><a href="tel:+79857851040" class="footer__menu-link">Вызвать мастера +7(985)785-10-40</a></li>
            </ul>
            <ul class="footer__menu-list">
                <li class="footer__menu-item"><p class="footer__menu-title">Установка</p></li>
                <li class="footer__menu-item"><a href="{{ '/installation.html' | relative_url }}" class="footer__menu-link">Наземное тв DVB-T2</a></li>
                <li class="footer__menu-item"><a href="{{ '/installation.html' | relative_url }}" class="footer__menu-link">Спутниковое тв DVB-S2</a></li>
                <li class="footer__menu-item"><a href="{{ '/installation.html' | relative_url }}" class="footer__menu-link">Интернет 4G IPTV</a></li>
            </ul>
        </nav>
        <div class="footer__copy">
            <p class="footer__copy-text">
                Все доступно &#127279 2022-2026
            </p>
            <p class="footer__copy-text">
                Вся информация представленная на сайте ни при каких условиях не является публичной офертой. 
            </p>
        </div>
    </div>
</footer>