<header class="header header-main">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="{{ '/' | relative_url }}">
                <img class="logo__img" src="img/logo_dmtaldom.png" alt="dmtaldom - аббревиатура латиницей слов дмитров и талдом">
            </a>
            <nav class="menu">
                <button class="menu__btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="menu__list">
                    <li class="menu__list-item"><a href="{{ '/' | relative_url }}" class="menu__list-link">Настройка</a></li>
                    <li class="menu__list-item"><a href="{{ '/installation.html' | relative_url }}" class="menu__list-link">Установка</a></li>
                    <li class="menu__list-item"><a href="tel:+79857851040" class="menu__list-link">+7(985) 785-10-40</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>